<body style="background: #7289da; font-family: Arial, Helvetica, sans-serif;">
    
<div style="margin: auto; width: max-content; height: max-content; text-align: center; padding-top: 150px;">
<h3>To Do</h3>


<form method="POST" action="/">
    {% csrf_token %}
    {{form.title}}
    <input type="submit" value="Create task">
</form>
<div style="text-align: left;">
{% for task in tasks %}
    <div>
        {% if task.complete == True %}
        <strike>{{task}}</strike>
        {% else %}
        <span>{{task}}</span>
        {% endif %}
        <a href="{% url 'update_task' task.id %}" style="text-decoration: none; box-sizing: content-box; background-color: azure; border-radius: 3px;">Update</a>
        <a href="{% url 'delete' task.id %}" style="text-decoration: none; background-color: azure; border-radius: 3px;">Delete</a>
    </div>
{% endfor %}
<a href="{% url 'deleteall' %}" style="text-decoration: none; background-color: azure; border-radius: 3px;">DeleteAll</a>
</div>
</div>
</body>